'context-menu':
  '.tree-view .file': [
    { label: 'Hide file', command: 'hide-files:hide-file'}
  ]
  '.tree-view .directory .header': [
    { label: 'Hide Directory', command: 'hide-files:hide-directory'}
  ]
